.modal_view{
    width: 100%;
    height: 100%;
    background-color: #00000085;
    z-index: 1009 !important;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 0px;
    top:0px;
}
.modal_view p{
    color: #fff;
}