.mobile__header__main{
    position: fixed;
    background: #fff;
    top: 0px;
    height: 100vh;
    transition: all .5s linear;
    overflow: hidden;
    padding: 30px 15px;
}
.mobile__header__main .mobile__header__top a{
    font-family: 'Kaisei Opti', serif;
    font-size: 24px;
}
.mobile__header__main .mobile__body__content{
    margin: 20px 0px;
}
.mobile__header__main .mobile__body__content ul,
.mobile__header__bottom .social__icon--list{
    padding: 0px;
    list-style: none;
}
.mobile__header__main .mobile__body__content ul li a{
    display: inline-block;
    padding-bottom: 10px;
}
.mobile__header__main .mobile__body__content ul li a.get__started--btn{
    background-color: #AF6FAC;
    color: #fff;
    border-radius: 32px;
    padding: 15px 26px;
    font-size: 14px;
}
.mobile__header__bottom .social__icon--list li {
    margin: 0px 5px 0px 0px;
}
.mobile__header__bottom .social__icon--list li a img{
    background: #af6fac;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 100%;
    object-fit: scale-down;
}
@media screen and (max-width: 480px) {
   .mobile__header__main{
    width: 100vw !important;
   }
}