.dashboard__header{
    height: 65px;
    position: sticky;
    border-radius: 1rem;
    box-shadow: 0 1.6rem 3rem rgb(0 0 0 / 10%);
    backdrop-filter: blur(0.5rem);
    will-change: backdrop-filter;
    padding: 0px 20px;
}
.dashboard__header ul{

    padding: 0px;
    list-style: none;
    text-align: end;
    margin: 0px;

}
.dashboard__header ul li img{
    width: 48px;
    border-radius: 100%;
    background-color: #1696b97d!important;
}
.dashboard__header ul li a p{
    font-weight: 700;
    color: #808191;
    font-family: Poppins;
    font-size: 12px;
}
.dashboard__header ul li a span{
    font-weight: 400;
    color: #808191;
    font-family: Poppins;
    font-size: 12px;
}