.payment_icon-card {
    background-color: white;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(51 51 51 / 8%) 0px 2px 4px;
    cursor: pointer;
    padding: 15px 25px;
}

.payment_icon-card img {
    width: 85px;
}
.payment_icon-card p{
    margin: 0px;
}
.style_divider{
    margin: 30px 0px;
}
.style_divider span{
    color: rgb(139, 138, 135);
    font-size: 1.25rem;
    padding: 0px 20px;
}
.card__number--input .month__year--ccv--input{
    position: absolute;
    right: 15px;
    top: 16px;
    width: 100%;
    text-align: right;
}
.card__number--input{
    position: relative;
}
.card__number--input .month__year--ccv--input .month__year--input input{
    width: 35px;
    border: none;
    background: transparent;
    text-align: center;
}
.checkbox__input--label{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
    text-align: left;
}
.checkbox__input--label input{
    margin-right: 20px;
    position: relative;
}
.checkbox__input--label input:checked::before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #af6fac;
    position: absolute;
    border-radius: 3px;
}
.checkbox__input--label input:checked::after{
    content: "✔";
    color: #fff;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 10px;
}
.height__weight--field{
    display: flex;
    justify-content: space-between;
}
.height__weight--field .form-group{
    width: 49%;
}
/************* Check out - Form *************/
.checkout__form__section .form__div{
    width: 100%;
    max-width: 70%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 2px 25px 0px rgb(0 0 0 / 5%) !important;
    border-radius: 16px;
}
.checkout__form__section .form__div .StripeElement{
    box-shadow: none !important;
    padding: 17px 20px !important;
    border-radius: 0.267rem;
    border-color: #af6fac;
}
.pay-button{
    border-radius: 0.267rem;
    background-color: #af6fac;
    border: none;
    width: 100%;
    padding: 15px;
    color: #fff;
    font-weight: 700;
}
.pay-button.disable{
    opacity: 0.5;
}
.summary__div{
    height: 100%;
}
.summary__div h4{
    font-weight: 700;
    margin-bottom: 15px !important;
}
.summary__div .items__list{
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary__div .items__list ul{
    padding: 0px;
    list-style: none;
}
.summary__div .items__list ul li{
    border-bottom: 1px solid #eee;
}
.summary__div .items__list ul li h4{
    font-weight: 700;
}
.summary__div .items__list ul .img__div img{
    width: 50px;
}
.form__input__div{
    border-left: 1px solid #eee;
}
.successFull__Payment h4{
    font-weight: 700;
    font-size: 34px;
}
button{
    background: #AF6FAC;
    padding: 15px 20px;
    border-radius: 32px;
    border: none;
    color: #fff;
}